@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300&family=Roboto+Flex:opsz,wght@8..144,500&family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

/* footer/header/nav */
body {
    background-color: #f4ffff;
}

.logo {
    background-color: #471e1a;
    color: #f4ffff;
    display: flex;
    width: 3.5em;
    height: 3.5em;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
}


.header {
    display: flex;
    justify-content: left;
    align-items: center;

    margin: 0em;
}

body {
    margin: 0em;
    background-color: #ebe9ca;
}

h1 {
    color: #009d93;
    padding-left: 1em;
    font-family: 'Raleway', sans-serif;

    font-family: 'Roboto', sans-serif;

    font-family: 'Roboto Flex', sans-serif;
}

.navigation ul {
    list-style: none;
    margin: 0em;
    padding: 0em;
    display: flex;
    justify-content: space-around;
}

.navigation li {
    display: inline;
    text-decoration: none;
    color: #2a2e43;
}

.navigation a {
    display: inline-block;
    padding: 2em 5em 2em 5em;
}

.navigation {
    background-color: #D9D7BA;

}

.footer ul {
    list-style: none;
    margin: 0em;
    display: flex;
    justify-content: space-around;
}

.footer li,
a {
    display: inline;
    text-decoration: none;
    color: #2a2e43;
    padding: 1em;
}

.footer {
    background-color: #D9D7BA;
    padding: .7em;
    display: flex;
    justify-content: space-between;
}

.header,
.footer {
    padding: 2em 5em;
}

.navigation a:hover {
    color: #471e1a;
    background-color: #c2bfa1;
}

/* content */

h2 {
    color: #9b3c38;
    font-family: 'Roboto', sans-serif;
    margin: 0px;
    padding: 1em;
}

.content {
    padding: 3em 0em 3em 0em;
}

.section {
    padding: 0em 3em 1em 3em;
}

.section-dark {
    background-color: #D9D7BA;
}

.section img {
    width: 30em;
    height: 10em;
    object-fit: cover;
}

/* rate-us form */
.content form.rate-us {
    display: flex;
    justify-content: center;
}

form fieldset {
    border: none;
    background-color: #D9D7BA;
}

form input, textarea {
    border: none;
    background-color: #f9f8ea;
}

.content form.rate-us div {
    display: flex;
    justify-content: center;
    width: 20em;
    padding-top: 1em;
}

.rate-us div button {
    background-color: #9b3c38;
    border: none;
    padding: .5em 2em;
    justify-self: end;
    color: white;
}

/* index grid images */
.img-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 20em;
    gap: 10px;
    justify-content: center; 
    align-items: center; 
    padding: 1em;
}

.img-grid a {
    width: 100%;
    height: 100%;
    padding: 0em;
    display: flex;
    justify-content: center; 
    align-items: center; 
    
}

.img-grid a:hover {
    
    border: 3px solid #9b3c38;

}

.img1 {
    background-image: url(/img/img1.jpg);
    background-position: center;
}
.img2 {
    background-image: url(/img/img2.jpg);
    background-position: center;
}
.img3 {
    background-image: url(/img/img3.jpg);
    background-position: center;
}
.img4 {
    background-image: url(/img/img4.jpg);
    background-position: center;
}
.img5 {
    background-image: url(/img/img5.jpg);
    background-position: center;
}
.img6 {
    background-image: url(/img/img6.jpg);
    background-position: center;
}



/*
.img-grid div {
    width: 100%; 
    height: 100%; 
    background-color: blue;
}

.img1 {
    background-image: url(/img/img1.jpg);
    background-position: center;
}
.img2 {
    background-image: url(/img/img2.jpg);
    background-position: center;
}
.img3 {
    background-image: url(/img/img3.jpg);
    background-position: center;
}
.img4 {
    background-image: url(/img/img4.jpg);
    background-position: center;
}
.img5 {
    background-image: url(/img/img5.jpg);
    background-position: center;
}
.img6 {
    background-image: url(/img/img6.jpg);
    background-position: center;
}

